.layout {
    margin: auto;
    width: 40%;
    border: 1px solid #999999;
    padding: 15px;
}

.calcDisplay {
    text-align: center;
    border: 1px solid #999999;
    padding: 15px;
}

.btnList {
    padding-top: 15px;
}

.btnList input {
    margin: 3px;
}
